@b app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  position: absolute;
  height: 100vh;
  width: 100%;
  align-items: stretch;
  z-index: 100;

  @e header {
    width: 100%;
    background: #5cb55f;
    border: 2px solid black;
  }

  @e sidebar {
    width: 25%;
    flex-basis: 100px;
    flex-grow: 1;
    border: 2px solid black;
    background: #5cb55f;
  }

  @e content {
    width: 75%;
    flex-grow: 1;
    border: 2px solid black;
    background: #5cb55f;
  }
}